name: Deploy MyRent Backend

on:
  push:
    branches: [ main ]

  workflow_dispatch:
    inputs:
      api:
        description: "PM2 app name (optional)"
        required: false
        default: ""

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/backend
            ./deploy.sh "${{ github.event.inputs.api }}"